{% extends 'learning_logs/base.html' %}

{% block content %}
  <p>Тема: {{ topic }}</p>

  <p>Записи:</p>
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Додати новий запис</a>
  </p>

  <ul>
    {% for entry in entries %}
      <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">Змінити допис</a>
        </p>
      </li>
    {% empty %}
      <li>Для цієї теми ще немає записів.</li>
    {% endfor %}
  </ul>

{% endblock content %}
